# Dépendances Python pour IZMAR

# FastAPI : framework pour créer l'API web
fastapi==0.115.6

# Uvicorn : serveur qui fait tourner FastAPI
uvicorn[standard]==0.32.1

# Httpx : librairie pour contacter l'API TMDB
httpx==0.27.2
